<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/manageProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="assets/imgs/favicon.png" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b5377164ab.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap" rel="stylesheet">

    <title>Organisation</title>
</head>

<body style="background-color: #f5f5f5;" class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-default fixed-top">
            <a class="navbar-brand" href="https://sociio.org/" target="_blank"><img src="assets/imgs/navlogo.png" height="50px"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="/dashboard"><span><i class="fa fa-home"></i> Home</span></a>
                      </li>            
                    <li class="nav-item ">
                        <a class="nav-link " href="/event/new"><span><i class="fa fa-plus-circle"></i> New
                                Event</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/event/manage"><span><i
                                    class="fa  fa-calendar-alt "></i> </i> Manage Event</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="/profile"><span><i class="fa fa-user-circle-o"
                                    aria-hidden="true"></i> Profile</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/event/past"><span><i
                                    class="fa  fa-calendar-check-o"></i> Past Event</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link button" href="/logout"><span><i class="fa fa-sign-out"
                                    aria-hidden="true"></i>
                                Logout</span></a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <section style="height: auto;padding-top:30px;margin:60px 0;" data-aos="fade-in">
        <div class="container ml-0">
            <br>
        </div>
        <div class="container">

            <h1>Edit Profile Info</h1>
            <span> Manage your profile and add organisers</span>
            <hr>
            <div class="card mt-4 mb-4">
                <div class="row ">
                    <div class="col-12 col-sm-3 order-sm-first order-last align-self-center">
                        <img style="border-radius: 50%;width: 100px;" src="assets/imgs/aboutus/dummy.jpg"
                            alt="Card image cap"> <br>
                    </div>
                    <div class="col-12 col-sm-6 align-self-center">
                        <h2 style="text-align: left;"> Rotaract</h2>
                    </div>
                </div>
                <div class="col-12 justify-content-center">
                    <form action="/profile" method="post" enctype=”multipart/form-data”>
                        <div class="form-group row">
                            <label for="website" class="col-12 col-md-3 offset-md-1 col-form-label">Website</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="website" name="website" readonly="readonly"
                                    value=<%= data.website %>>
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Edit Website" class="website" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="contactNumber" class="col-12 col-md-3 offset-md-1 col-form-label">Contact
                                Number</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="contactNumber" name="contactNumber"
                                    readonly="readonly" value=<%= data.contactNumber%> /required>
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Edit Number" class="contactNumber" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-4 col-md-6">
                                <input type="submit" class="btn btn-dark" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <h3>Organisers</h3>
                <div>
                        <ul style="list-style-type:none;">
                            <% if(organisers){ %>
                            <li>
                                <div class="row">

                                    <div class="col-4 col-sm-3"> <h6>Name</h6></div>
                                    <div class="col-6 col-sm-5"><h6>Phone Number</h6></div>
                                </div>
                            </li>
                            <% organisers.forEach(organiser =>{%>
                            <li class="mt-2">

                                <div class="row">
                                    <div class="col-4 col-sm-3">
                                        <%= organiser.name%>
                                    </div>
                                    <div class="col-sm-5 col-5">
                                        <%= organiser.phoneNumber%>
                                    </div>
                                    <div class="col-3 col-sm-4">
                                        <a class="heading btn btn-info" href="" data-toggle="modal"
                                            data-target="#new<%= organiser.uid%>">
                                            <span class="buttonmsg"> <i class="fa fa-trash"></i></span> </a>
                                    </div>
                                </div>
                                
                            </li>
                            <div class="modal fade" id="new<%= organiser.uid%>" role="dialog"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Are you sure you want to remove <%= organiser.name%> as an organiser?</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                style="color: #fff;" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/event/organiser/delete" method="post"
                                                enctype=”multipart/form-data”>
                                                <div class="form-group row">
                                                    <input type="text" value="<%= organiser.uid%>" name="organiserId"
                                                        style="display: none;">
                                                </div>
                                                    <button type="submit" class="btn btn-primary">Remove</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <% }) %>
                            <% } else { %>
                                <div class="alert alert-info mt-0 col-6" role="alert">
                                    <span>No member found</span>
                                  </div>
                            <% } %>
                            <li>
                                <a class="heading btn btn-info" href="" data-toggle="modal"
                                data-target="#add">
                                <span class="buttonmsg"> Add Member</span> </a>      
                                <div class="modal fade" id="add" role="dialog"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Enter phone number the organiser is signed up on the app.</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    style="color: #fff;" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/event/organiser/add" method="post"
                                                    enctype=”multipart/form-data”>
                                                    <div class="form-group row">
                                                        <label for="phoneNumber" class="col-12 col-md-3 offset-md-1 col-form-label">Contact
                                                            Number</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                                                 /required>
                                                        </div>
                                                    </div>
                                                        <button type="submit" class="btn btn-primary offset-md-1">Add</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                </form>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>                      
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="jumbo mt-auto" style="background-color: #04151f; color: #f5f5f5;" id="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 " class="social">
                    <div class="text-center">
                        <h3>Sociio</h3>
                        <a class="s-logo" href="http://www.facebook.com/profile.php?id="><i
                                class="fa fa-lg fa-facebook"></i></a>
                        <a class="s-logo" href="http://www.linkedin.com/in/"><i class="fa  fa-lg fa-linkedin"></i></a>
                        <a class="s-logo" href="mailto:"><i class="fa  fa-lg fa-envelope-o"></i></a>
                        <div class="mt-2">
                            <img class="logo" src="assets/imgs/google.png"
                                style="height: 50px;margin:0 auto; display: inline;" alt="Play Store">
                            <img class="logo" src="assets/imgs/app.png" style="height: 35px; display: inline;" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-auto ">
                    <p style="text-align: center;" class="small">© Copyright 2020 Sociio</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>

        $('.website').click(function () {
            if ($('#website')[0].hasAttribute('readonly')) {
                $('#website').removeAttr('readonly');
            } else {
                $('#website')[0].setAttribute('readonly', 'readonly');
            }
        });

        $('.contactNumber').click(function () {
            if ($('#contactNumber')[0].hasAttribute('readonly')) {
                $('#contactNumber').removeAttr('readonly');
            } else {
                $('#contactNumber')[0].setAttribute('readonly', 'readonly');
            }
        });


    </script>
</body>

</html>