<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/events.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
  <link rel="icon" href="assets/imgs/favicon.png" type="image/gif" sizes="16x16">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b5377164ab.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap" rel="stylesheet">

  <title>Organisation</title>
</head>

<body style="background-color: #f5f5f5;" class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-default fixed-top">
      <a class="navbar-brand" href="https://sociio.org/" target="_blank"><img src="assets/imgs/navlogo.png" height="50px" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link " href="/dashboard"><span><i class="fa fa-home"></i> Home</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/event/new"><span><i class="fa fa-plus-circle"></i> New Event</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/event/manage"><span><i class="fa  fa-calendar-alt "></i> </i> Manage Event</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/profile"><span><i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/event/past"><span><i class="fa  fa-calendar-check-o"></i> Past Event</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link button" href="/logout"><span><i class="fa fa-sign-out" aria-hidden="true"></i> 
                Logout</span></a>
          </li>
          </ul>
      </div>
    </nav>
  </header>

  <section style="height: auto;padding-top:30px;margin:60px 0;" data-aos="fade-in">
    <div class="container ml-0">
       <br>
     </div>
    <div class="container">
      <h1>Events Conducted</h1>
      <span>Record of all the past events</span>
      <hr>
      <% if(!message){ %>
        <% pastEvents.forEach(event => { %>
          <div class="card mt-4  mb-4" >

            <h3 class="card-title"><%= event.name %></h3>
        <div class="row" style="height: auto;">
          <div class="col-12 col-md-6 mt-1 row-content" style="color: #04151f;">
            <div class="row">

                <div class=" col-12 col-md-6 mt-2 mb-2">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> Location:
                        <%= event.location %></span>
                        <br>
                        <span><i class="fa fa-calendar" aria-hidden="true"></i> Date: <%= event.dateTime.toDate().toLocaleDateString('en-GB') %>
                        </span>
                        <br>
                        <span><i class="fa fa-clock"></i> Time: <%= event.dateTime.toDate().toLocaleTimeString('en-GB') %> </span>
                    </div>
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <span><i class="fa fa-info" aria-hidden="true"></i> Description: <%= event.description %></span>
                    </div>
                </div>
        </div>
        <div class=" col-md-2  col-6 mt-1" style="text-align: center;">
          <span class="heading">Registered</span>
          <br>
          <span><%= event.usersRegistered %></span>
      </div>
      <div class="col-md-2  col-6 mt-1" style="text-align: center;">
        <span class="heading">Attended</span>
        <br>
        <span><%= event.usersAttended %></span>
      </div>
      <div class=" col-md-2 col-12 mt-1" style="text-align: center;">
        <span class="heading"> Photos</span>
        <br>
      </div>
         
        </div>
      </div>
        <% }) %> 
        <% } else { %>
          <div class="alert alert-info mt-0" role="alert">
            <span><%= message %></span>
          </div>
          
          <% } %> 
      </div>
  </section>

  <footer class="jumbo mt-auto" style="background-color: #04151f; color: #f5f5f5;" id="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 " class="social">
          <div class="text-center">
            <h3>Sociio</h3>
            <a class="s-logo" href="http://www.facebook.com/profile.php?id="><i class="fa fa-lg fa-facebook"></i></a>
            <a class="s-logo" href="http://www.linkedin.com/in/"><i class="fa  fa-lg fa-linkedin"></i></a>
            <a class="s-logo" href="mailto:"><i class="fa  fa-lg fa-envelope-o"></i></a>
            <div class="mt-2">
              <img class="logo" src="assets/imgs/google.png" style="height: 50px;margin:0 auto; display: inline;"
                alt="Play Store">
              <img class="logo" src="assets/imgs/app.png" style="height: 35px; display: inline;" alt="">
            </div>
          </div>

        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-auto ">
          <p style="text-align: center;" class="small">© Copyright 2020 Sociio</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>